{% extends "background.html" %}

{% block css %}
<link href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/static/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>新增比賽資料</h1>
<br/><br/>
<div id='original'>
    <form class="form-horizontal" action="/contribute/" method="POST" role="form">
        <div class="form-group">
            <label for="contest-name" class="col-sm-2 control-label">比賽名稱</label>
            <div class="col-sm-10">
                <select class="select2-basic-single form-control">
                    {% for category in all_contest_categories %}
                    <optgroup label="{{ category['name'] }}">
                        {% for contest_id in category['contests'] %}
                        <option value="{{ contest_id }}">{{ category['contests'][contest_id] }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="contest-prefix" class="col-sm-2 control-label">年度</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="contest-prefix" placeholder="auto-complete">
            </div>
        </div>
        <div class="form-group">
            <label for="contest-date" class="col-sm-2 control-label">日期</label>
<!--             <div class="col-sm-10">
                <input type="text" class="form-control" name="contest-date" placeholder="date-picker">
            </div> -->
            <div class="col-sm-10">
                <div class=" input-group date" >
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="contest-date">
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="contest-testpieces" class="col-sm-2 control-label">指定曲</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="contest-testpieces" placeholder="auto-complete tag">
            </div>
        </div>
        <div class="form-group">
            <label for="contest-venue" class="col-sm-2 control-label">地點</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="contest-venue" placeholder="auto-complete">
            </div>
        </div>

        <div class="form-group">
            <label for="contest-details" class="col-sm-2 control-label">詳細資料</label>
            <div class="col-sm-10">
                <table class="table table-hover" id="contest-details">
                    <thead>
                        <tr>
                            <th class="header">樂團</th>
                            <th class="header">指揮</th>
                            <th class="header">指定曲</th>
                            <th class="header">自選曲</th>
                            <th class="header">分數</th>
                            <th class="header">等第</th>
                            <th class="header">演奏順序</th>
                            <th class="header">備註</th>
                        </tr>
                    </thead>
                    <tbody class="list"></tbody>
                </table>
                <a class="btn btn-primary btn-xs" id="add_band">新增樂團</a>
                <a class="btn btn-default btn-xs" id="del_band">刪除樂團</a>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button value="Send" type="submit" class="btn btn-success btn-lg">送出並新增</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
{% block js %}
{% include 'elements/date-picker.html' %}
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".select2-basic-single").select2();

    var band_i = 0;

    function add_band() {
        band_i++;
        $('#contest-details').append('<tr id="band' + band_i + '"></tr>');

        detail_items = [{{detail_items|safe}}];
        html = ''
        for (i = 0; i < detail_items.length; i++){
            html += '<td><input type="text" class="form-control ' + detail_items[i] + '" name=' + detail_items[i] + '[] placeholder=""></td>';
        }
        $('#band' + band_i).html(html);
    }

    function del_band() {
        if (band_i > 1) {
            $("#band" + (band_i)).html('');
            $("#band" + (band_i)).remove();
            band_i--;
        }
    }

    $("#add_band").click(add_band);
    $("#del_band").click(del_band);

    add_band();
});
</script>
{% endblock %}
