{% extends "background.html" %}
{% block body %}
<!-- Heading Row -->
<div class="row">
    <div class="col-md-8">
        <!-- <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt=""> -->
        <img class="img-responsive img-rounded" src="/static/img/cover-nccu-101.jpg" alt="">
    </div>

    <div class="col-md-4">
        <h1>管樂比賽資料庫</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <!-- <a class="btn btn-primary btn-lg" href="#">我想幫忙！</a> -->
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <h2>近期比賽</h2>
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead><tr><td>日期</td><td>比賽</td></tr></thead>
                <tr><td>2016/10/01</td><td>台北市學生音樂比賽</td></tr>
                <tr><td>2016/10/01</td><td>台北市學生音樂比賽</td></tr>
                <tr><td>2016/10/01</td><td>台北市學生音樂比賽</td></tr>
                <tr><td>2016/10/01</td><td>台北市學生音樂比賽</td></tr>
                <tr><td>2016/10/01</td><td>台北市學生音樂比賽</td></tr>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <h2>最近新增</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <!-- <a class="btn btn-default" href="#">查看更多</a> -->
    </div>

    <div class="col-md-4">
        <h2>熱門曲目</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <!-- <a class="btn btn-default" href="#">查看更多</a> -->
    </div>
</div>
{% endblock %}